.screen-wrapper {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #74B2B7;
}

.auth-form-wrapper {
	border-radius: 5px;
	background-color: white;
	box-shadow: #707070;
	width: 500px;
	height: 500px;
	padding: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.auth-form-wrapper input {
	text-align: center;
	display: block;
	font-size: 20px;
	border: none;
	margin: 0px auto;
}

.auth-form-wrapper input[type="text"], 
.auth-form-wrapper input[type="password"], 
.auth-form-wrapper input[type="email"] {
	background-color: transparent;
	border-bottom: 1px solid black;
	margin-bottom: 15px;
}

.auth-form-wrapper input[type="submit"] {
	background-color:white;
	border: none;
	color: #707070;
	padding: 16px 32px;
	cursor: pointer;
}

.auth-form-wrapper input:focus {
	outline: none;
}

.auth-form-wrapper > #logo {
	color: #707070;
	fill: currentColor;
	margin-bottom: 25px;
	width: 80%;
}

.auth-form-link {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 60px;
}

.auth-form-link a {
	color: #74B2B7;
	margin-bottom: 15px;

}

.auth-form-link span {
	color: #707070;
	margin-bottom: 15px;
}


