nav {
	background-color: #74B2B7;
	padding-top: 18px;
	padding-bottom: 18px;
	color: white;
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
}

.nav-wrapper {
	display: flex;
	flex-direction: row;
	padding-left: 20px;
	padding-right: 20px;
}

.nav-wrapper #logo {
	height: 32px;
}

.navbar {
	flex-grow: 99;
	margin-left: 1em;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.menu {
	flex-grow: 99;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex: 1 1 auto;
	margin-left: 20px;
	align-items: center;
}

.nav-items {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: flex;
	flex-direction: row;
}

.nav-items li {
	padding: 10px 12px;
}

.search {
	border-radius: 5px;
}

.search > form {
	display: flex;
	flex-direction: row;
	align-items: stretch;
}

.search > form > * {
	outline: none;
	font-size: 12px;
	border: none;
	margin: 0;
}

.search input[type="text"] {
	border-radius: 5px 0 0 5px;
	padding: 8px 12px;
	flex-grow: 99;
}

.search button {
	flex-shrink: 0;
	font-size: 16px;
	background-color: #EBEBEB;
	padding: 8px;
	border-radius: 0 5px 5px 0;;
}

.menu-right {
	padding: 0;
	margin: 0;
	display: flex;	
	flex-direction: row;
	align-items: center;
	list-style-type: none;
}

.menu-right li {
	display: inline-block;
	padding: 0px 12px;
}

.menu-right img {
	height: 30px;
	border-radius: 5px;
}

.dropdown {
	position: relative;
}

.dropdown-button {
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
    z-index: 99;
}

.dropdown-content > * {
	background-color: green;
	display: block;
}

.dropdown:hover .dropdown-content {
	display: block;
}
