body {
	margin: 0;
}

nav {
	display: flex;
	flex-direction: row;
	background-color: #74B2B7;
	width: 100%;
	height: 80px;
	align-items: center;
}

#logo {
	height: 50%;
	margin-left: 20px;
}

nav > * {
	display: inline-block;
}