nav {
	background-color: #74B2B7;
	padding-top: 18px;
	padding-bottom: 18px;
	color: white;
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 99;
}

.nav-wrapper {
	display: flex;
	justify-content: space-between;
	padding-left: 20px;
	padding-right: 20px;
}

.nav-wrapper #logo {
	height: 32px;
}

.menu {
	margin-left: 1em;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex: 1 1 auto;
}

.search {
	border-radius: 5px;
}

.search > form {
	display: flex;
	flex-direction: row;
	align-items: stretch;
}

.search > form > * {
	outline: none;
	font-size: 12px;
	border: none;
	margin: 0;
}

.search input[type="text"] {
	border-radius: 5px 0 0 5px;
	padding: 8px 12px;
	flex-grow: 99;
}

.search button {
	flex-shrink: 0;
	font-size: 16px;
	background-color: #EBEBEB;
	padding: 8px;
	border-radius: 0 5px 5px 0;;
}

.menu-right {
	display: flex;	
}

nav > .nav-right {
	margin-right: 20px;
	display: flex;
	flex-direction: row;
	overflow: hidden;
}

nav > .nav-right > * {
	padding: 14px 16px;
}

.username {
	display: none;
}

.dd-content {
	display: none;
	position: absolute;
	top: 80px;
	z-index: 1;
	background-color: #74B2B7;
}

.dd {
	overflow: hidden;
}

.dd-content > a {
	display: block;
	padding: 16px 32px;
	text-align: right;
}

.dd:hover .dd-content{
	display: block;
}

.dd:hover .username {
	display: inline-block;
}

.dd-content > *:hover {
	background-color: rgba(112, 112, 112, 0.8);
}