:root {
	--transparentgrey : rgba(112, 112, 112, 0.6);
	--lightgrey : #cecece;
	--darkgrey : #2d2d2d;
	--grey :  #707070;
	--blue : #74B2B7;
	--orange : #ffac68;
	--red: #d86e6e;
}

body {
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	padding: 0;
	background-color: var(--lightgrey);
	color: var(--darkgrey);
}

* {
	box-sizing: border-box;
	outline: none;
	text-overflow: ellipsis;
}

a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}

input[type="submit"], button {
	-webkit-appearance: none;
}

.center {
	margin: 0px auto;
}

.flex-col-container {
	display: flex;
	flex-direction: column;
}

.flex-row-container {
	display: flex;
	flex-direction: row;
}

.flex-space-between {
	justify-content: space-between;
}

.flex-vert-center {
	align-items: center;
}

.flex-hor-center {
	justify-content: center;
}

nav {
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: #74B2B7;
	color: white;
	position: sticky;
	position: -webkit-sticky;
	top: 0;
	width: 100%;
	height: 60px;
	z-index: 5;
	padding: 0px 20px;
}

nav #logo {
	height: 30px;
}

.menu {
	flex-grow: 99;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	flex: 1 1 auto;
	margin-left: 20px;
	font-weight: 700;
}

.nav-items {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: flex;
	flex-direction: row;
}

.nav-items li {
	padding: 10px 12px;
}

.search {
	position: relative;
	border-radius: 5px;
	margin-left: 20px;
}

.search > .search-results {
	display: block;
	max-height: 0;
	position: absolute;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
	border-radius: 0px 0px 5px 5px;
	background-color: white;
	border-top: 0.5px solid var(--transparentgrey);
	color: var(--darkgrey);
	z-index: 5;
	overflow: hidden;
	transition: 0.5s;
}

.search > .search-results > li {
	padding: 1em 1em;
}

.search > .search-results > li.result {
	padding: 1em 2em;
}

.search .faded {
	color: var(--transparentgrey);
}

.search > .search-results > li.result:hover {
	background-color: #EBEBEB;
}

.search > form {
	display: flex;
	flex-direction: row;
	align-items: stretch;
}

.search > form > * {
	outline: none;
	font-size: 12px;
	border: none;
	margin: 0;
}

.search input[type="text"] {
	border-radius: 5px 0 0 5px;
	padding: 8px 12px;
	flex-grow: 99;
}

.search > form > button {
	flex-shrink: 0;
	font-size: 16px;
	color: #707070;
	background-color: #EBEBEB;
	padding: 8px;
	border-radius: 0 5px 5px 0;
}

.search > button {
	display: none;
}

.overlay-content form {
	margin: 0px auto;
}

.overlay-content input[type="text"] {
	padding: 1em 2em;
	border-radius: 5px;
	font-size: 0.6em;
	border: none;
}

.overlay-content input[type="submit"] {
	padding: 1em 2em;
	border-radius: 5px;
	border: none;
	background-color: var(--lightgrey);
	font-size: 0.6em;
	font-weight: bold;
}

.overlay-content .search-results {
	list-style-type: none;
	color: var(--darkgrey);
	margin: 0;
	padding: 0;
}

.overlay-content .search-results > li {
	padding: 1em 1em;
}

.overlay-content .search-results > li.result {
	font-size: 0.8em;
	font-weight: normal;
	padding: 1em 1em;
}

.overlay-content .faded {
	color: var(--transparentgrey);
}

.menu-right {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0;
	margin: 0;
}

.menu > i, .search > i {
	display: none;
}

.menu-right li {
	display: inline-block;
	padding: 0px 12px;
}

.menu-right img {
	height: 30px;
	border-radius: 5px;
	z-index: 3;
}

.menu-right > li:last-child {
	padding: 0;
}

.dropdown {
	position: static;
	overflow: hidden;
}
.dropdown-button > i {
	margin-left: 0.5em;
}

.dropdown-content {
	border-radius: 5px;
	background-color: white;
	color: var(--darkgrey);
	position: absolute;
	right: 22px;
	display: none;
	z-index: 2;
	overflow: hidden;
}

.dropdown-content > a {
	display: block;
	padding: 12px 16px;
}

.dropdown-content > a:hover {
	background-color: #EBEBEB;
}

.dropdown:hover .dropdown-content{
	display: block;
}

.snippet-left-wrapper {
	display: flex;
	flex-direction: column;
	width: 70%;
	flex-shrink: 0;
}

@media(max-width: 768px) {
	nav {
		justify-content: space-between;
	}

	nav > * {
		margin: 0!important;
	}

	nav .menu {
		order: 1;
		flex-grow: 0;
	}

	nav .menu > i, nav .search > i {
		font-size: 22px;
		display: block;
	}

	nav .menu > ul {
		display: none;
	}

	nav > a {
		order: 2;
	}

	nav .search {
		order: 3;
	}

	nav .search > button {
		display: block;
	}

	nav .search > form{
		display: none;
	}
}

.overlay {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 60px;
	overflow-x: hidden;
	transition: 0.5s;
	background-color: rgba(235, 235, 235, 0.97);
}

.overlay-content {
	position: relative;
	width: 100%;
	text-align: center;
	margin-top: 30px;
	font-weight: bold;
	font-size: 24px;
	list-style-type: none;
	padding: 0;
}

.overlay-content > li {
	margin: 0;
	padding: 30px;
	overflow: hidden;
}

.main-content {
	min-width: 768px;
	max-width: 960px;
	padding: 30px;
	overflow: hidden;
}

.full-card {
	margin-bottom: 3em;
	min-width: 768px;
	max-width: 1024px;
	margin-top: 30px;
	overflow: hidden;
}

@media(max-width: 768px){
	.main-content, .full-card {
		min-width: 100%;
		margin: 0;
		border-radius: 0px;
	}
}

.snippet-header {
	background-color: white;
	border-radius: 5px 5px 0px 0px;
	padding: 1em;
}

.rating-wrapper {
	justify-self: start;
	display: flex;
	flex-direction: row;
	align-items: baseline;
	color: var(--grey);
	font-size: 24px;
}

.rating-wrapper #snippetId {
	display: none;
}

.rating-wrapper > i:first-of-type{
	margin-right: 0.5em;
}

.rating-wrapper > i:last-of-type{
	margin-left: 0.5em;
}

.rating-wrapper > i:first-of-type:hover  {
	cursor: pointer;
	color: var(--blue);
}

.rating-wrapper > i:last-of-type:hover  {
	cursor: pointer;
	color: var(--orange);
}

@media(max-width: 768px) {
	.rating-wrapper > i:first-of-type:hover  {
		cursor: initial;
		color: initial;
	}
	
	.rating-wrapper > i:last-of-type:hover  {
		cursor: initial;
		color: initial;
	}
}

.upvote {
	color: var(--blue);
}

.downvote  {
	color: var(--orange);
}

.language-wrapper {
	font-size: 12px;
	color: white;
	background-color: var(--transparentgrey);
	padding: 0.5em 1em;
	border-radius: 34px;
	justify-self: end;
	margin-left: 0.5em;
}

.snippet-wrapper-feed h1 {
	justify-self: center;
	font-size: 17px;
	margin: 0;
}

.feed-header {
	width: 100%;
	display: flex;
	flex: 1 1 auto;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.feed-header form {
	display: flex;
	align-items: center;
}

.feed-header label {
	cursor: pointer;
	color: var(--darkgrey);
	padding: 0em 5px;
}

.feed-header label:nth-of-type(2) {
	border-left: 1px solid var(--transparentgrey);
	margin-right: 0.5em;
}

.feed-header select {
	-webkit-appearance: button;
    -moz-appearance: button;
    -webkit-user-select: none;
    -moz-user-select: none;
	margin-right: 1em;
	padding: 0 1em;
	background: url(../assets/public/down-arrow.svg) no-repeat 5px;
	background-position: right center;
	border: none;
	font-size: inherit;
	color: var(--darkgrey);
}

.feed-header input[type="submit"] {
	background-color: white;
	border-radius: 5px;
	color: var(--blue);
	font-weight: bold;
	border: none;
}

.feed-header input[type="radio"] {
	display: none;
}

.feed-header input[type="radio"]:checked+label {
	font-weight: bold;
}

@media(max-width: 768px) {
	.feed-header {
		flex-direction: column;
	}

	.feed-header > h1{
		margin: 0;
	}

	.feed-header > form {
		margin: 1em 0;
	}

}

.card-title {
	color: var(--darkgrey);
	justify-self: center;
	font-size: 20px;
	margin: 0;
}

.snippet-footer {
	background-color: white;
	border-radius: 0px 0px 5px 5px;
	padding: 1em;
}

.snippet-wrapper-feed {
	margin-bottom: 2em;
}

.snippet-wrapper-feed > div {
	position: relative;
}

.snippet-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	background-color: rgba(235, 235, 235, 0.5);
	transition: 1s ease;
	transition-delay: 0.2s;
	z-index: 2;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2em;
	font-weight: bold;
	color: white;
	cursor: pointer;
}

.snippet-wrapper-feed > div:hover .snippet-overlay {
	opacity: 1;
}

.snippet-wrapper-feed  pre {
	max-height: 555px;
	overflow: hidden!important;
}

@media(max-width: 768px) {
	.snippet-wrapper-feed  pre {
		max-height: 0px!important;
		padding: 0px!important;
	}

	.snippet-wrapper-feed .rating-wrapper{
		display: none;
	}

	.snippet-wrapper-feed .card-title {
		font-size: 14px;
	}

	.snippet-wrapper-feed footer .author-name {
		font-size: 14px;
	}

	.snippet-wrapper-feed footer .date-posted {
		font-size: 12px;
	}

	.snippet-wrapper-feed footer .comments {
		font-size: 12px;
	}
	.snippet-wrapper-feed .snippet-overlay {
		display: none;
	}
}

.card-content {
	margin-top: 1em;
}

.info-wrapper {
	border-radius: 0px 0px 5px 5px;
	margin-left: 1em;
	background-color: white;
	padding: 1em 2em;
	width: 100%;
	align-self: flex-start;
	overflow: auto;
}

.description-wrapper {
	margin-top: 2em;
	overflow: hidden;
}

.description {
	color: var(--darkgrey);
	margin-top: 1em;
	word-wrap: break-word;
}

.author-wrapper {
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.author-row {
	display: flex;
	flex: 1 1 auto;
	justify-content: space-between;
	align-items: center;
	flex-grow: 99;
}

.author-name {
	font-size: 18px;
	font-weight: bold;
}

.round-img {
	border-radius: 100%;
	height: 30px;
}

.date-posted {
	color: var(--grey);
	font-weight: 300;
	font-size: 14px;
}

.comments-wrapper {
	margin-top: 1em;
	background-color: white;
	padding: 1em 2em;
	border-radius: 0 0 5px 5px;
}

.comments-wrapper, .comments-wrapper ul {
	list-style: none;
}

.comment-wrapper #reply-form > input[type="submit"] {
	margin-bottom: 0.5em;
}

.comment-wrapper {
	width: 100%;
	padding-top: 1em;
	border-bottom: #EBEBEB solid 1px;
	margin: 0.25em 0em;
}

.comment-child-wrapper {
	width: 80%;
	padding-top: 1em;
	border-bottom: #EBEBEB solid 1px;
	margin-left: 3em;
}

.comment-wrapper:last-of-type {
	border-bottom: none;
	padding-bottom: 0;
	background-color: white;
}

.comment-user {
	font-weight: bold;
	color: var(--blue);
	margin-right: 1em;
	min-width: 0;
	max-width: 250px;
}

.comment-footer {
	color: var(--grey);
	font-size: 13px;
	padding: 0.5em 1em;
}

.comment-rating-wrapper {
	flex-shrink: 0;
	font-size: 15px;
	color: var(--grey);
	margin-right: 1em;
}

.comment-rating-wrapper i:first-of-type:hover {
	color: var(--blue);
	cursor: pointer;
}

.comment-rating-wrapper i:last-of-type:hover {
	color: var(--orange);
	cursor: pointer;
}

.comment-wrapper.selected {
	border-color: var(--blue);
}
.comment-content-wrapper {
	background-color: #EBEBEB;
	padding: 0.5em 1em;
	border-radius: 5px;
	padding-bottom: 0.5em;
}

.comment-footer > span:nth-last-of-type(2) {
	color: var(--blue);
	cursor: pointer;
	margin-right: 1em;
}

.comments-wrapper > h1 {
	font-size: 20px;
}

.info-wrapper h1 {
	font-size: 20px;
}

.comment-text {
	color: var(--grey);
	text-align: justify;
}

.comment-user-wrapper {
	word-wrap: break-word;
	overflow: hidden;
}

.comment-wrapper textarea {
	padding: 12px 20px;
	background-color: #EBEBEB;
	font-size: 14px;
	border: none;
	border-radius: 5px;
	resize: none;
	width: 100%;
	outline: none;
}

.comment-wrapper input[type="submit"] {
	border-radius: 5px;
	margin-top: 0.5em;
	background-color: var(--blue);
	color: white;
	width: 100%;
	font-size: 14px;
	font-weight: bold;
	outline: none;
	padding: 0.5em 0;
	border: none;
	cursor: pointer;
}


.subtitle-wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
	margin-bottom: 1em;
}

.subtitle {
	color: var(--grey);
	font-size: 18px;
	font-weight: 700;
	margin-right: 0.5em;
	flex-shrink: 0;
}

.separator {
	height: 1px;
	background-color: var(--grey);
	flex-grow: 99;
}

.comments::after {
	content: " comments";
}

.comments {
	color: var(--darkgrey);
}

.author-name {
	margin-right: 10px;
	color: var(--blue)
}

.snippet-wrapper .expand-title {
	display: none;
	font-size: 14px;
}

.snippet-wrapper .expand-title > span {
	color: var(--transparentgrey);
}

@media(max-width: 768px) {
	.snippet-wrapper .snippet-header {
		padding: 0.5em 1em;
		flex: 1 1 auto;
		border-radius: 0px;
	}
	.snippet-wrapper .rating-wrapper {
		flex-direction: column;
		font-size: 14px;
	}
	.snippet-wrapper .rating-wrapper > i {
		font-size: 16px;
	}
	.snippet-wrapper .rating-wrapper > i:last-of-type {
		margin: 0;
	}
	.snippet-wrapper .card-title {
		font-size: 14px;
		text-align: center;
	}
	.snippet-wrapper .card-content {
		flex-direction: column;
		margin: 0;
		border-top: 0.5px solid var(--transparentgrey);
	}
	.snippet-wrapper .info-wrapper {
		order: -1;
		margin: 0;
		padding: 0.5em 1em;
		border-radius: 0px;
	}

	.snippet-wrapper .description-wrapper h1{
		display: none;
		margin: 0;
	}
	.snippet-wrapper .snippet-left-wrapper{
		width: 100%;
	}
	.snippet-wrapper .comments-wrapper{
		margin-top: 0;
		border-radius: 0px;
		padding: 0.5em 1em;
	}
	.snippet-wrapper .expand-title {
		display: block;
		font-size: 14px;
	}
	.snippet-wrapper .info-wrapper > div {
		max-height: 0;
		margin: 0;
		-webkit-transition: max-height 0.5s ease-in;
		-moz-transition: max-height 0.5s ease-in;
		transition: max-height 0.5s ease-in;
	}
	.snippet-wrapper .info-wrapper > div.open {
		max-height: 1000px;
	}
}

/* New snippet page  */

.new-snippet-wrapper {
	display: flex;
	flex-direction: column;
	padding: 1em 2em 2em 2em;
	background-color: white;
	border-radius: 5px;
}

.new-snippet-wrapper > h1 {
	margin-bottom: 1em;
	color: var(--darkgrey);
}

.new-snippet-wrapper > form {
	display: flex;
	flex-direction: column;
	padding: 10px;
}

.new-snippet-wrapper .row {
	display: flex;
	flex-direction: column;
	margin-bottom: 1em;
}

.new-snippet-wrapper input,
.new-snippet-wrapper textarea {
	font-size: 16px;
	border-radius: 5px;
	border: none;
	outline: none;
	flex-grow: 99;
	padding: 16px 18px;
	resize: none;
	background-color: #EBEBEB;
}

.new-snippet-wrapper select {
	-webkit-appearance: button;
    -moz-appearance: button;
    -webkit-user-select: none;
    -moz-user-select: none;
    -webkit-padding-end: 20px;
    -moz-padding-end: 20px;
    -webkit-padding-start: 2px;
	-moz-padding-start: 2px;
	background: #EBEBEB url(../assets/public/down-arrow.svg) no-repeat;
	background-size: 1.2em;
	background-position: 97% 50%;
	border-radius: 5px;
	border: none;
	font-family: 'Montserrat';
	font-size: 16px;
	outline:none;
	padding: 16px;
	color: var(--darkgrey);
}

.new-snippet-wrapper .file-input-wrapper {
	width: 100%;
	background-color: #EBEBEB;
	border-radius: 5px;
}

.new-snippet-wrapper .file-input-wrapper > header {
	display: flex;
	flex-direction: row;
	flex: 1 1 auto;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid var(--lightgrey);
}

.new-snippet-wrapper #description {
	min-height: 100px;
}

.new-snippet-wrapper .row > label {
	font-size: 18px;
	margin-bottom: 0.5em;
	color: var(--darkgrey);
}

.new-snippet-wrapper button {
	border: none;
	border-top-left-radius: 5px;
	color: var(--darkgrey);
	background-color: transparent;
	cursor: pointer;
	font-size: 14px;
	height: 100%;
	padding: 12px 16px;
	margin: 0;
}

.new-snippet-wrapper .tabs {
	display: flex;
	flex-direction: row;
}

.new-snippet-wrapper button.active {
	border-bottom: 5px solid var(--blue);
}

.new-snippet-wrapper button:not(.active):hover {
	border-bottom: 5px solid var(--lightgrey);
}

.new-snippet-wrapper #file-upload {
	display: none;
}

.new-snippet-wrapper label[for="file-upload"] {
	border-radius: 5px;
	padding: 10px 12px;
	color: var(--blue);
	font-weight: bold;
	cursor: pointer;
}

.new-snippet-wrapper .file-input-wrapper pre {
	border-radius: 0px 0px 5px 5px !important;
}

.new-snippet-wrapper #code-area {
	width: 100%;
	min-height: 220px;
	overflow: hidden;
}

.new-snippet-wrapper #preview-area {
	width: 100%;
	display: none;
}

.new-snippet-wrapper input[type="submit"] {
	background-color: var(--blue);
	color: white;
	cursor: pointer;
	font-size: 16px;
	font-weight: bold;
}


@media(max-width: 768px) {
	.new-snippet-wrapper {
		border-radius: 0px;
	}

	.new-snippet-wrapper .file-input-wrapper > header > label span {
		display: none;
	}
}

/* Profile */

#profile-pic {
	border-radius: 5px;
	height: 230px;
}

.snippet-preview-content {
	background-color: #EBEBEB;
	padding: 1em;
	height: 100%;
	width: 100%;
	border-radius: 5px;
}

.snippet-preview-content .card-title {
	font-size: 15px;
	font-weight: bold;
}

.snippet-preview-content .snippet-rating {
	color: var(--blue);
}

.snippet-preview-content .language-wrapper {
	font-size: 12px;
}

.user-info h1 {
	font-size: 25px;
	margin-bottom: 0;
}
.user-info h2 {
	font-size: 20px;
	font-weight: normal;
	color: var(--darkgrey);

}

.user-details span {
	font-size: 15px;
	color: var(--darkgrey);
	border-left: 1px solid var(--darkgrey);
	padding-left: 5px;
	margin-left: 0.5em;
	
}

.comment-info-wrapper .fa-caret-up {
	margin-left: 1.5em;
}

.profile-button {
	background: var(--blue);
	color: white;
	font-size: 20px;
	font-weight: bold;
	padding: 0.5em;
	margin-top: 0.5em;
	border-radius: 5px;
	text-align: center;
	width: 100%;
	cursor: pointer;
}

.profile-button.follow {
	background: var(--blue);
	color: white;
}
.profile-button.settings, .profile-button.unfollow {
	background: white;
	color: var(--blue);
}

.profile-content-wrapper {
	margin-left: 2em;
	width: 100%;
	background-color: white;
	padding: 1em 2em 2em 2em;
	border-radius: 5px;
}

.profile-content-wrapper section header {
	margin-top: 1em;
}

.profile-content-wrapper section header > h2 {
	border-left: 1px solid var(--darkgrey);
	padding: 0 0.5em;
	font-size: 15px;
	color: var(--darkgrey);

}

.profile-content-wrapper section header > h1 {
	padding-right: 0.5em;
	font-size: 22px;
}

.user-followers {
	margin-left: 1em;
}

.user-languages .language-wrapper {
	font-size: 15px;
	margin-right: 10px;
	margin-bottom: 10px;
}

.languages {
	flex-wrap: wrap;
}

.mini-user-pic {
	width: 50px;
	height: 50px;
	border-radius: 5px;
	margin-right: 1em;
	margin-bottom: 1em;
}

.grid4x2 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	width: 75%;

}

.user-following, .user-followers {
	flex-grow: 1;
	flex-shrink: 0;
}

h1 {
	color: var(--darkgrey);
}

.card {
	display: flex;
	flex-direction: column;
	border-radius: 5px;
}

.hoverable-card {
	background-color: white;
	width: 100%;
	height: 64px;
	border-radius: 5px;
	display: flex;
	flex-direction: row;
	flex: 1 1 auto;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1em;
}

.hoverable-card-content {
	display: flex;
	flex-direction: row;
	flex: 1 1 auto;
	justify-content: space-between;
	align-items: center;
	border-radius: 5px;
	display: flex;
	flex-direction: row;
	padding: 18px 16px;
}

.hoverable-card-title {
	font-weight: bold;
	color: var(--blue);
}

.hoverable-card-info {
	background-color: #EBEBEB;
	padding: 0.5em 1em;
	border-radius: 34px;
	color: var(--darkgrey);
	font-size: 12px;
	text-align: center;
}

.hover-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--blue);
	width: 0%;
	height: 100%;
	border-radius: 0px 5px 5px 0px;
	font-size: 1px;
	overflow: hidden;
	transition: width ease-out 0.5s, font-size 0.5s;
}

.hover-content button {
	background-color: transparent;
	border: none;
	color: white;
	font-size: inherit;
	font-weight: bold;
	cursor: pointer;
	font-family: 'Montserrat', sans-serif;
}

.hoverable-card:hover .hover-content {
	width: 15%;
	font-size: 16px;
}

.hover-content-points {
	background-color: var(--blue);
	width: 0%;
	height: 100%;
	border-radius: 0px 5px 5px 0px;
	font-size: 1px;
	overflow: hidden;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: white;
	transition: width ease-out 0.5s, font-size 0.5s;
}

.snippet-preview:hover .hover-content-points {
	width: 10%;
	font-size: 16px;
}

.snippet-preview {
	height: 60px;
	border-radius: 5px;
	margin-top: 1em;
	background-color: #EBEBEB;
}

@media(max-width: 768px) {
	.snippet-preview {
		height: 90px;
	}
}

.user-settings {
	margin-left: 2em;
	background-color: white;
	padding: 1em 2em 2em 2em;
	border-radius: 5px;
	width: 100%;
}

.user-settings > h1 {
	margin-bottom: 1em;
	color: var(--darkgrey);
}

.user-settings > form {
	padding: 10px;
	margin-bottom: 2em;
}

.user-settings .row {
	display: flex;
	flex-direction: column;
	margin-bottom: 1em;
	width: 100%;
}

.user-settings .row > label {
	font-size: 18px;
	margin-bottom: 0.5em;
	color: var(--darkgrey);
}

.user-settings .row > span {
	font-size: 18px;
	margin-bottom: 0.5em;
	color: var(--darkgrey);
}

.user-settings input {
	font-size: 16px;
	border-radius: 5px;
	border: none;
	outline: none;
	flex-grow: 99;
	padding: 16px 18px;
	background-color: #EBEBEB;
}

.user-settings input[type="submit"] {
	background-color: var(--blue);
	color: white;
	cursor: pointer;
	font-size: 16px;
	font-weight: bold;
	padding: 10px;
}

.delete-button {
	background-color: var(--red);
	color: white;
	cursor: pointer;
	font-size: 16px;
	font-weight: bold;
	padding: 10px;
	border-radius: 5px;
	text-align: center;
}

.delete-profile {
	padding: 10px;
}



@media(max-width: 768px) {
	.profile-wrapper {
		flex-direction: column;
	}

	#profile-pic {
		height: 100px;
	}

	.user-info {
		flex-direction: row;
		flex: 1 1 auto;
		align-content: center;
		padding: 1em 2em;
		background-color: #EBEBEB;
		flex-wrap: wrap;
		border-bottom: 1px solid var(--transparentgrey);
	}

	.user-info > *:nth-child(4) {
		flex-basis: 100%;
	}

	.user-details {
		margin-left: 1em;
	}

	.user-details h1 {
		font-size: 16px;
	}

	.user-details h2 {
		font-size: 14px;
	}

	.profile-button {
		background: var(--blue)!important;
		color: white!important;
		font-size: 16px!important;
	}

	.profile-content-wrapper {
		width: 100%;
		border-radius: 0px;
		margin: 0;
	}

	.profile-content-wrapper .user-following header {
		margin-top: 0;
	}

	.profile-top {
		flex-direction: column;
	}

	.user-followers {
		margin: 0;
	}

	.user-details {
		flex-direction: column;
	}

	.user-settings {
		margin-left: 0;
		width: 100%;
	}

	.user-settings > h1{
		margin-top: 0;
		margin-bottom: 0.5em;
	}
}

.channels-info {
	text-align: center;
	color: var(--transparentgrey);
}

.channels-info > a {
	color: var(--blue);
	font-weight: bold;
}

.screen-wrapper {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #74B2B7;
	overflow: hidden;
}

.screen-wrapper > #logo {
	width: 400px;
}

.screen-wrapper > footer {
	color: white;
	font-size: 52px;
}

.auth-form-wrapper {
	border-radius: 5px;
	background-color: white;
	min-width: 500px;
	min-height: 500px;
	padding: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 5% 0;
	color: var(--darkgrey);
}


.auth-form-wrapper header span:first-of-type {
	color: var(--blue);
}

.auth-form-wrapper ::placeholder {
	color: var(--transparentgrey);
	font-size: 18px;
}

.auth-form-wrapper > form {
	display: flex;
	flex: 1 1 auto;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	margin: 1em 0;
	width: 100%;
}

.auth-form-wrapper > form > .input-field-wrapper:first-of-type {
	display: none;
}

.auth-form-wrapper > form > .input-field-wrapper:last-of-type {
	display: none;
}

.auth-form-wrapper input {
	text-align: center;
	font-size: 20px;
	border: none;
}


.auth-form-wrapper input[type="text"], 
.auth-form-wrapper input[type="password"], 
.auth-form-wrapper input[type="email"] {
	flex-grow: 0;
	font-size: 16px;
	border-radius: 5px;
	border: none;
	outline: none;
	padding: 16px 18px;
	background-color: #EBEBEB;
	width: 100%;
}

.auth-form-wrapper input[type="submit"] {
	color:white;
	border: none;
	background-color: var(--blue);
	padding: 12px 16px;
	margin: 0;
	cursor: pointer;
	border-radius: 5px;
	font-weight: bold;
}

.auth-form-wrapper .input-field-wrapper {
	width: 80%;
}

.input-info {
	margin-top: 0.2em;
	margin-bottom: 0;
	font-weight: bold;
	font-size: 13px;
	color: var(--red);
	text-align: center;
}

.auth-form-wrapper footer {
	order: 99;
	width: 100%;
}

.auth-form-wrapper footer .input-field-wrapper {
	width: 100%;
}

footer .input-info {
	margin-top: 0;
	margin-bottom: 1em;
	font-size: 14px;
}

.invalid {
	border: 1px solid var(--red) !important;
}

.input-field-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0;
}

.auth-form-wrapper header {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

@media (max-width: 768px) {

	.auth-form-wrapper {
		background-color: transparent;
		width: 100%;
	}

	.auth-form-wrapper input {
		background-color: white!important;
	}

	.auth-form-wrapper input[type="submit"] {
		color: var(--blue);
	}
	
	.screen-wrapper #logo {
		margin-top: 1em;
		width: 50%;
	}

	.screen-wrapper footer {
		margin-bottom: 1em;
		text-align: center;
		font-size: 24px;
		font-weight: bold;
	}

	.auth-form-wrapper header {
		order: 1;
		margin-bottom: 1em;
	}

	.auth-form-wrapper form {
		width: 80%;
	}

}

.toggle {
	position: relative;
	width: 50px;
	height: 25px;
	background-color: white;
	border: 1px solid var(--lightgrey);
	border-radius: 5px;
	margin: 0px 1em;
	overflow: hidden;
}

.toggle:hover, .toggle > button:hover {
	cursor: pointer;
}

.toggle.active {
	background-color: var(--blue);
	
}
.toggle > button {
	position: absolute;
	left: 0;
	height: 100%;
	width: 50%;
	background-color: #EBEBEB;
	border: none;
	border-radius: 0px 5px 5px 0px;
	transition: all 250ms ease;
}

.toggle > button.active {
	left: 25px;
	border-radius: 5px 0px 0px 5px;
}

.user-info > input {
	display: none;
}

.language-info > .follow-button-wrapper {
	background-color: white;
	margin-left: 1.5em;
	cursor: pointer;
	font-weight: bold;
	padding: 7px;
	border-radius: 5px;
	font-size: 15px;
	color: var(--blue);
}

.no-snippets > a  {
	margin-left: 0.5em;
	font-weight: bold;
	color: var(--blue);
}

.required > span:first-child::after {
	content: '*';
	color: var(--blue);
}

label > .input-info {
	margin-left: 1em;
}

.row > p.input-info {
	margin-bottom: 0.5em;
}

.user-comment {
	border-radius: 5px;
	margin-top: 1em;
	padding: 1em;
	background-color: #EBEBEB;
	color: var(--darkgrey);
	width: 100%;
	
}

.user-comment-text {
	margin-left: 1em;
	text-align: justify;
	margin-top: 0.5em;
	font-size: 15px;
	color: var(--grey);
	word-wrap: break-word;
	word-break: break-all;
	overflow: hidden;
	display: inline-block;
	
}

.comment-username {
	color: var(--blue);
	font-weight: bold;
}

.user {
	word-wrap: break-word;
	overflow-wrap: break-word;
}

.user > a {
	font-weight: bold;
}

.error-title {
	margin-bottom: 1em;
}

.search-page {
	color: var(--darkgrey);
}

.users-search img {
	width: 40px;
	border-radius: 5px;
	margin-right: 1.5em;
}

.search-page h2 {
	border-left: 2px solid var(--darkgrey);
	margin-left: 0.5em;
	padding-left: 0.5em;
	color: var(--darkgrey);
}

.search-page .name {
	color: var(--blue);
	font-weight: bold;
	margin-right: 1em;
}

.users-search .username {
	color: var(--grey);
	font-weight: lighter;
}

.snippets-search .title {
	font-weight: bold;
	color: var(--darkgrey);
}

.snippets-search .points {
	color: white;
}

.search-page button {
	border: none;
	border-top-left-radius: 5px;
	color: var(--grey);
	background-color: transparent;
	cursor: pointer;
	font-size: 14px;
	height: 100%;
	padding: 12px 16px;
	margin: 0;
}

.search-page button.active {
	border-bottom: 5px solid var(--blue);
	margin: 0;
}

.search-page button:not(.active):hover {
	border-bottom: 5px solid var(--transparentgrey);
	margin: 0;
}

.search-page .tabs {
	background-color: white;
	border-radius: 5px 5px 0 0;
	display: flex;
	flex-direction: row;
}

@media(max-width: 768px) {
	.search-page  > header {
		display: flex;
		flex-direction: column;
	}
}

.modal {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: var(--transparentgrey);
	display: flex;
	justify-content: center;
	align-items: center;
}

.center-card {
	background-color: white;
	padding: 2em;
	border-radius: 5px;
}

.center-card .user-name {
	font-weight: bold;
	color: var(--blue);
	margin-right: 1em;
}

.center-card .user-username {
	margin-right: 0.5em;
}

.center-card ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.center-card li {
	background-color: #EBEBEB;
	border-radius: 5px;
	margin: 0;
}

.user-preview {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 1em;
	padding: 0.5em;
}

.user-pic {
	width: 40px;
	border-radius: 5px;
	margin-right: 1em;
}

.center-card header {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
}

.center-card .fas {
	cursor: pointer;
}

.user-following, .user-followers h1 {
	cursor: pointer;
}

